<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
              <form #userForm="ngForm">
                  <!--{{userForm.value | json}}-->
                <div class="row" >
                  <div class="col-md-12 mb-8">
  
                    <div class="form-outline">
                        <label class="form-label" for="UserName" >User Name</label>
                      <input type="text" required id="UserName" pattern="^([a-zA-Z]){3,}$" [class.is-invalid]="username.invalid && username.touched" #username="ngModel" [(ngModel)]="userModel.userName" class="form-control form-control-lg" name="UserName" />
                    </div>
                    <div *ngIf="username.invalid && username.touched">
                      <small class="text-danger" *ngIf="username.errors?.required">UserName is required</small>
                      <small class="text-danger" *ngIf="username.errors?.pattern">UserName must be more than three charaters</small>
                    </div>
  
                  </div>
                 
                </div>
  
                <div class="row">
                  <div class="col-md-12 mb-8 d-flex align-items-center">
  
                    <div class="form-outline datepicker w-100">
                        <label for="Email" class="form-label">Email</label>
                      <input type="email"  [class.is-invalid]="email.invalid && email.touched" class="form-control form-control-lg" id="Email" name="Email" [(ngModel)]="userModel.Email" #email="ngModel"  required />
                    </div>
                    <div *ngIf="email.invalid && email.touched">
                      <small class="text-danger" *ngIf="email.errors?.required">email is required</small>
                    </div>
  
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-12 mb-8 pb-2">
  
                    <div class="form-outline">
                        <label class="form-label" for="Password">Password</label>
                      <input type="password" id="Password" required name="Password"  [(ngModel)]="userModel.Password" #pass="ngModel" [class.is-invalid]="pass.invalid && pass.touched" class="form-control form-control-lg" />
                    </div>
                    <div *ngIf="pass.invalid && pass.touched">
                      <small class="text-danger" *ngIf="pass.errors?.required">Password is required</small>
                    </div>
                  </div>
                  </div>
                  <div class="row">
                  <div class="col-md-12 mb-8 pb-2">
  
                    <div class="form-outline">
                        <label class="form-label" for="ConfirmPassword">Confirm Password</label>
                      <input type="password" id="confirmPassword" required name="confirmPassword"  [(ngModel)]="userModel.confirmPassword" #cpass="ngModel" [class.is-invalid]="cpass.invalid && cpass.touched" class="form-control form-control-lg" />
                    </div>
                    <div *ngIf="cpass.invalid && cpass.touched">
                      <small class="text-danger" *ngIf="cpass.errors?.required">Confirm Password is required</small>
                      <small class="text-danger" *ngIf="userModel.confirmPassword!=userModel.confirmPassword">Confirm Password and Password are not Matching</small>
                    </div>
  
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-12">
                    <label class="form-label select-label">your favourite site</label>
                    <select class="select form-control-lg" required [(ngModel)]="userModel.site" name="site" #site="ngModel" [class.is-invalid]="site.invalid && site.touched">
                      <option value="f">facebook</option>
                      <option value="t">twitter</option>
                      <option value="g">google</option>
                    </select>
                  </div>
                  <div *ngIf="site.invalid && site.touched">
                    <small class="text-danger" *ngIf="site.errors?.required">site is required</small>
                  </div>
                </div>
  
                <div class="mt-4 pt-2">
                  <input type="submit" class="btn btn-primary btn-lg" name="submit"  value="register" [disabled]="userForm.form.invalid" /><!----> 
                </div>
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  